# Data Analytics SoSe 2021
## Gruppenmitglieder: Anja Stricker, Annika Stadelmann

### Aufgabe 1
#### (Datenvorbereitung)
Lesen Sie den unter der o.g. Adresse verfugbaren Tankstellendatensatz zum Stand 31.05.2021
in einen DataFrame namens df stations ein. Dieser soll in dieser Aufgabe fur die weitere
Verwendung vorbereitet werden.

In [2207]:
import pandas as pd
import numpy as np

df_stations = pd.read_csv("2021-05-31-stations.csv")
df_stations.dtypes

uuid                  object
name                  object
brand                 object
street                object
house_number          object
post_code             object
city                  object
latitude             float64
longitude            float64
first_active          object
openingtimes_json     object
dtype: object

a) Untersuchen Sie den Datensatz auf fehlende Werte und setzen Sie ggf. eine geeignete Strategie um, um mit diesen zu verfahren. Begrunden Sie Ihr Vorgehen.

In [2208]:
df_stations.isnull().sum()

uuid                    0
name                    0
brand                 670
street                  3
house_number         2940
post_code               3
city                    4
latitude                0
longitude               0
first_active            0
openingtimes_json       0
dtype: int64

Im folgenden werden nur noch die Spalten betrachtet die einen NaN Wert über 0 haben.
Alle Spalten mit 0 haben keine NaN Werte und müssen demnach nicht nochmal kontrolliert werden.

In [2209]:
df_stations["street"] = df_stations["street"].fillna("")

In [2210]:
df_stations["house_number"] = df_stations["house_number"].fillna(0)

In [2211]:
df_stations["house_number"] = df_stations["house_number"].fillna("other")
df_stations["post_code"] = df_stations["post_code"].fillna(00000)

In [2212]:
df_stations[df_stations["city"].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
4340,fe9134a0-cba9-42b1-812a-25a3ed0728b8,RWG Kirchhatten,Raiffeisen Hatten eG,,0,0,NaN,47.81321,8.33220,2014-03-18 16:45:31+01,{}
13379,5cbfcf42-67b5-495b-bcaa-e4871ceb3988,bft Grefrath,bft,Mülhausener Str.,3,47929,NaN,51.33770,6.34416,2014-03-20 00:00:01+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
14200,4e8ecfc5-5d0d-4463-901b-6b9ff8fee510,01_test,NaN,,0,0,NaN,0.00000,0.00000,2015-05-27 00:00:01+02,{}
15262,27b7b18e-85a8-455d-863c-2f8dbdcf256d,"Dortmund (44357),Deininghauser Str. 2",Gulf,Deininghauser Str.,2,44357,NaN,51.55210,7.36620,2018-04-01 23:30:06+02,"{""openingTimes"":[{""applicable_days"":64,""period..."

In [2213]:
df_stations = df_stations.drop(df_stations.loc[(df_stations["city"].isnull()) & (df_stations["post_code"] == 00000) & (df_stations["latitude"] == 0.0) & (df_stations["longitude"] == 0.0) | (df_stations["openingtimes_json"] == {})].index)
df_stations[df_stations["city"].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
4340,fe9134a0-cba9-42b1-812a-25a3ed0728b8,RWG Kirchhatten,Raiffeisen Hatten eG,,0,0,NaN,47.81321,8.33220,2014-03-18 16:45:31+01,{}
13379,5cbfcf42-67b5-495b-bcaa-e4871ceb3988,bft Grefrath,bft,Mülhausener Str.,3,47929,NaN,51.33770,6.34416,2014-03-20 00:00:01+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
15262,27b7b18e-85a8-455d-863c-2f8dbdcf256d,"Dortmund (44357),Deininghauser Str. 2",Gulf,Deininghauser Str.,2,44357,NaN,51.55210,7.36620,2018-04-01 23:30:06+02,"{""openingTimes"":[{""applicable_days"":64,""period..."

In [2214]:
df_stations.loc[df_stations["city"].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
4340,fe9134a0-cba9-42b1-812a-25a3ed0728b8,RWG Kirchhatten,Raiffeisen Hatten eG,,0,0,NaN,47.81321,8.33220,2014-03-18 16:45:31+01,{}
13379,5cbfcf42-67b5-495b-bcaa-e4871ceb3988,bft Grefrath,bft,Mülhausener Str.,3,47929,NaN,51.33770,6.34416,2014-03-20 00:00:01+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
15262,27b7b18e-85a8-455d-863c-2f8dbdcf256d,"Dortmund (44357),Deininghauser Str. 2",Gulf,Deininghauser Str.,2,44357,NaN,51.55210,7.36620,2018-04-01 23:30:06+02,"{""openingTimes"":[{""applicable_days"":64,""period..."

In [2215]:
newRow = df_stations.loc[(df_stations["post_code"] == "47929") & (df_stations["city"].notnull())]
newRow["city"].item()

'Grefrath'

In [2216]:
df_stations.loc[df_stations["city"].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
4340,fe9134a0-cba9-42b1-812a-25a3ed0728b8,RWG Kirchhatten,Raiffeisen Hatten eG,,0,0,NaN,47.81321,8.33220,2014-03-18 16:45:31+01,{}
13379,5cbfcf42-67b5-495b-bcaa-e4871ceb3988,bft Grefrath,bft,Mülhausener Str.,3,47929,NaN,51.33770,6.34416,2014-03-20 00:00:01+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
15262,27b7b18e-85a8-455d-863c-2f8dbdcf256d,"Dortmund (44357),Deininghauser Str. 2",Gulf,Deininghauser Str.,2,44357,NaN,51.55210,7.36620,2018-04-01 23:30:06+02,"{""openingTimes"":[{""applicable_days"":64,""period..."

In [2217]:
def findCityWithPostcode(row):
    return df_stations["city"][(df_stations["post_code"] == row["post_code"]) & (df_stations["city"].notnull())].item()
df_stations["city"] = df_stations[["city", "post_code"]].apply(lambda x: findCityWithPostcode(x) if x["city"] is np.nan else x["city"], axis=1)
df_stations.loc[df_stations["post_code"] == "47929"]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
4230,8b141166-cda5-41d7-af97-2107865c074f,AVIA Tankstelle,AVIA,Mülhausener Straße,39,47929,Grefrath,51.33914,6.350694,2014-03-18 16:45:31+01,"{""overrides"":[{""startp"":""2021-06-03 07:00"",""en..."
13379,5cbfcf42-67b5-495b-bcaa-e4871ceb3988,bft Grefrath,bft,Mülhausener Str.,3,47929,Grefrath,51.33770,6.344160,2014-03-20 00:00:01+01,"{""openingTimes"":[{""applicable_days"":31,""period..."

b) Transformieren Sie die Spalten brand, street und city, sodass die Werte jeweils nur
in Großbuchstaben ausgeben werden.

In [2218]:
#TODO

c) Uberprüfen Sie, ob der Datensatz Duplikate enth ¨ alt und entfernen Sie diese ggf. Ein Dupli- ¨
kat liege dann vor, wenn zwei Tankstellen in den Spalten name, street, house number
und post code ubereinstimmen. Geben Sie aus, wie viele Duplikate ermittelt und entfernt ¨
wurden.

In [2219]:
#TODO

d) Untersuchen Sie die Spalten longitude und latitude auf unphysikalische Werte, indem Sie zunachst deren Verteilung in einem Histogramm visualisieren. Entfernen oder kor- ¨
rigieren Sie anschließend die Eintrage zu denjenigen Tankstellen, bei denen Sie unphysi- ¨
kalische Werte festgestellt haben. Zeichnen Sie anschließend erneut Histogramme fur die ¨
beiden Spalten longitude und latitude.

In [2220]:
#TODO

e) Reichern Sie den Tankstellendatensatz um die Spalte state an, die das Bundesland enthalten soll, in dem sich die Tankstelle befindet. Erzeugen Sie durch Filterung einen DataFrame
namens df_stations_BY, der die Informationen zu allen Tankstellen in Bayern enthalt.

In [2221]:
#TODO

Lesen Sie nun den Preise-Datensatz aus dem GitLab-Repository in einen DataFrame namens
df_prices_BY ein. Dieser wurde durch Filterung der auf der Tankerkonig-Seite verf ¨ ugbaren ¨
Preise-Datensatze erzeugt und enth ¨ alt die Angaben zur historischen Preisen und Preis ¨ anderungen ¨
an den Tankstellen in Bayern im Betrachtungszeitraum zwischen Januar 2018 und Mai 2021.

f) Untersuchen Sie die Kraftstoffpreise auf Ausreißer und entfernen Sie diese ggf.

In [2222]:
#TODO

g) Uberf ¨ uhren Sie die Spalte ¨ date in ein DateTime-Format.

In [2223]:
#TODO

### Aufgabe 2 
#### (Explorative Datenanalyse)
In dieser Aufgabe sind erste einfache Analysen durchzufuhren und Visualisierungen zu erstellen

a) Wie viele Tankstellen gibt es insgesamt in Deutschland? Wie viele pro Bundesland?

In [2224]:
#TODO

b) Welches sind die zehn Tankstellenmarken mit den meisten Niederlassungen in Deutschland?
Wie viele Niederlassungen sind es jeweils?

In [2225]:
#TODO

c) Welcher Anteil der Tankstellen hat sonntags geoffnet?

In [2226]:
#TODO

d) Visualisieren Sie in einem Kreisdiagramm die Zusammensetzung des Marktes in freie Tankstellen und Markentankstellen. Nehmen Sie vereinfachend an, dass eine Tankstelle dann
eine freie Tankstelle ist, wenn sie gemaß der Spalte ¨ brand einer Marke angehort, die bun- ¨
desweit hochstens 20 Niederlassungen betreibt.

In [2227]:
#TODO

e) Wie haufig wird an den bayerischen Tankstellen durchschnittlich pro Tag im Betrachtungs- ¨
zeitraum ein Datensatz an die Markttransparenzstelle fur Kraftstoffe ¨ ubermittelt?

In [2228]:
#TODO

f) In welchen zehn bayerischen Stadten war der durchschnittliche Diesel-Preis im Betrach- ¨
tungszeitraum 2018-2021 am hochsten und wie hoch war er jeweils? In welchen zehn ¨
Stadten war er am geringsten und wie hoch war er jeweils?

In [2229]:
#TODO

g) Erstellen Sie mit folium eine interaktive Karte, auf der die einzelnen Tankstellen in Bayern
als Marker (in einem Marker-Cluster) eingezeichnet sind. Beim Klick auf einen Marker soll
der Name der Tankstelle und deren Adresse angezeigt werden.

In [2230]:
#TODO

### Aufgabe 3
#### (Analyse der historischen Entwicklung der Kraftstoffpreise)

a) In welchem Monat im Betrachtungszeitraum waren die Kraftstoffpreise fur Diesel in Bay- ¨
ern durchschnittlich am hochsten? In welchem am geringsten? Wie hoch waren die durch- ¨
schnittlichen Preise jeweils?

In [2231]:
#TODO

b) Ermitteln Sie die Jahresdurchschnitte fur die einzelnen Kraftstoffsorten in den Jahren 2018- ¨
2021 fur die bayerischen Tankstellen. Visualisieren Sie diese in einem geeigneten Dia- ¨
gramm. Lassen sich Trends erkennen?

In [2232]:
#TODO

c) Visualisieren Sie auf geeignete Weise den zeitlichen Verlauf der Preise fur die Kraftstoffe ¨
Diesel und Super E5 und Super E10 an den bayerischen Tankstellen zwischen 2018 und
2021. Beschreiben und interpretieren Sie Ihre Beobachtungen.

In [2233]:
#TODO

### Aufgabe 4
#### (Abhangigkeit zwischen dem Roh ¨ olpreis und den Kraftstoffpreisen)

a) Untersuchen Sie jeweils den Zusammenhang zwischen den Kraftstoffpreisen fur Diesel bzw. ¨
Super E5 und dem Roholpreis. Berechnen Sie dazu die Tagesmittelwerte f ¨ ur die Kraftstoff- ¨
preise fur alle Tage im Betrachtungszeitraum 2018-2021 (f ¨ ur die bayerischen Tankstellen) ¨
und stellen Sie diese jeweils den Tagesschlusskursen fur die Roh ¨ olsorte Brent Crude Oil ¨
(offentlich verf ¨ ugbar) in zwei Streudiagrammen (eines f ¨ ur Diesel und eines f ¨ ur E5) ge- ¨
genuber. Laden Sie die verwendeten ¨ Olpreis-Daten in Form einer CSV-Datei mit Ihrer Ab- ¨
gabe auf Moodle hoch.

In [2234]:
#TODO

b) Berechnen Sie jeweils fur Diesel und E5 den empirischen Korrelationskoeffizienten zwi- ¨
schen den Roholpreisen und den Tagesmittelwerten der Kraftstoffpreise.

In [2235]:
#TODO

c) Diskutieren Sie, ob lineare Modelle sinnvoll waren, um die Zusammenh ¨ ange zwischen dem ¨
Roholpreis und den Preisen f ¨ ur Diesel bzw. E5 darzustellen.

In [2236]:
#TODO

### Aufgabe 5
#### (Einfluss des Wettbewerbs auf die Kraftstoffpreise in Bayern)
Untersuchen Sie, welchen Einfluss der Wettbewerb zwischen mehreren Tankstellen auf die Preisgestaltung hat. Ermitteln Sie dazu zunachst f ¨ ur jede Tankstelle in Bayern, wie viele Tankstellen ¨
sich im Umkreis von 5km Umgebung zu ihr befindet. Speichern Sie diese Angabe in einer Spalte namens neighbors. Speichern Sie den resultierenden DataFrame df stations BY als
CSV-Datei namens stations BY.csv und laden Sie diese mit Ihrer Abgabe auf Moodle hoch.
Stellen Sie zunachst m ¨ ogliche Hypothesen auf und untersuchen Sie diese anschließend, indem Sie ¨
geeignete Auswertungen und Visualisierungen erstellen.

In [2237]:
#TODO

### Aufgabe 6
#### (Tanken in Amberg, Interaktives Diagramm)
Herr Sparfuchs, der als Rentner zeitlich flexibel ist, mochte wissen, wann und wo er in Am- ¨
berg derzeit am gunstigsten tanken kann. Erstellen Sie dazu ein geeignetes interaktives Dia- ¨
gramm mit Plotly, um die Kraftstoffpreise an den Tankstellen in Amberg zu analysieren, und
leiten Sie Empfehlungen fur Herrn Sparfuchs ab. Erstellen Sie f ¨ ur die Analyse zwei DataFrames ¨
namens df stations amberg und df prices amberg, die aus Filterung der Tankstellenund Preisdatensatze hervorgehen, und verwenden Sie ausschließlich diese f ¨ ur die Erzeugung des ¨
Plotly-Diagramms. Dokumentieren Sie Ihre Analyseergebnisse.

In [2238]:
#TODO